body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    background-image: url(images/background.jfif);
    color:honeydew;
    margin: 3%;
}
.info-and-picture{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
 
}
.half-width{
    width: 50%;
    padding-left: 2px;
  
}
.half-width img{
    width:70%;
    padding-left: 50px;
}
.center-position{
    text-align: center;
    color: white;
    font-size: 50px;
}

.green-color{
color:greenyellow;
}
.orange-color{
    font-style: italic;
    color:burlywood;
    font-size: 20px;
}
#order-button{
    text-decoration: none;
   background-image: linear-gradient(yellow,tomato);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
}
.Food-Item{
    display: flex;
    margin: 5px;
    width: 50%;
    
    
}
.food-section{
    width: 30%;
    box-shadow:3px 4px 3px 3px skyblue;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
}
.food-img{
    width:70%;
}
footer{
    text-align: center;
    color:violet
}